{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Welcome
{% endblock title %}

{% block content %}
    <div class="container" style="background-color: antiquewhite; height: 100vh;">
      <div class="d-flex justify-content-center">
          <div class="input-group" style="width: 40%;">
            <form action="{% url 'search' %}" >
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="search"/>
              <button type="submit" class="btn btn-outline-primary">search</button>
            </form>
          </div>
      </div>
    </div>

{% endblock content %}